<form [formGroup]="form" (ngSubmit)="sub()" class="publication-form">

  <h2 class="form-title">
    {{ isEditMode ? 'Modifier la publication' : 'Ajouter une publication' }}
  </h2>

  <div class="form-grid">

    <mat-form-field appearance="outline">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option value="ARTICLE">Article</mat-option>
        <mat-option value="REVUE">Revue</mat-option>
        <mat-option value="CONFERENCE">Conférence</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Titre</mat-label>
      <input matInput formControlName="titre">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Lien</mat-label>
      <input matInput formControlName="lien">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Source PDF</mat-label>
      <input matInput formControlName="sourcePDF">
    </mat-form-field>
     <mat-form-field appearance="outline">
      <mat-label>Date de publication</mat-label>
      <input matInput type="date" formControlName="datePublication">
    </mat-form-field>

    

  </div>

  <button mat-raised-button color="primary">
    {{ isEditMode ? 'Modifier' : 'Ajouter' }}
  </button>

</form>
