.login-container {
    width: 350px;
    margin: 50px auto;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.login-title {
    text-align: center;
    margin-bottom: 20px;
}

.full-width {
    width: 100%;
}

mat-form-field.full-width {
    width: 100%;
    margin-bottom: 15px;
}