<div class="table-container">
  <!-- Bouton d’ajout aligné à droite -->
  <div class="table-header right">
    <button routerLink="/createEvenement" mat-raised-button color="primary">
      <mat-icon>add</mat-icon>
      Ajouter un Événement
    </button>
  </div>
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 full-width-table"
  >
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>
    <ng-container matColumnDef="titre">
      <th mat-header-cell *matHeaderCellDef>Titre</th>
      <td mat-cell *matCellDef="let element">{{ element.titre }}</td>
    </ng-container>
    
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">{{ element.date }}</td>
    </ng-container>
    <ng-container matColumnDef="lieu">
      <th mat-header-cell *matHeaderCellDef>Lieu</th>
      <td mat-cell *matCellDef="let element">{{ element.lieu }}</td>
    </ng-container>
    

    <!-- action Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button routerLink="editEvenement/{{ element.id }}">
          <mat-icon color="primary">edit</mat-icon>
        </button>
        <button (click)="deleteEvenement(element.id)">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Header & Row definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

