<form [formGroup]="form" (ngSubmit)="sub()" class="evenement-form">

  <h2 class="form-title">
    {{ isEditMode ? 'Modifier l’événement' : 'Ajouter un événement' }}
  </h2>

  <div class="form-grid">

    <mat-form-field appearance="outline">
      <mat-label>Titre</mat-label>
      <input matInput formControlName="titre">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Date</mat-label>
      <input matInput type="date" formControlName="date">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Lieu</mat-label>
      <input matInput formControlName="lieu">
    </mat-form-field>

  </div>

  <button mat-raised-button color="primary">
    {{ isEditMode ? 'Modifier' : 'Ajouter' }}
  </button>

</form>
